*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

section, div{
		border-radius: 10px;
}

ul{
		list-style-type: none;
}

a{
		text-decoration: none !important;
}

button:active, .profile a:active{
		box-shadow:inset -3px -3px 7px #ffffff,
						   inset 3px 3px 7px #a2a2a2;
}

button{
		outline: none !important;
}

body{
		padding: 10px;
		background: #ededed;
}

section{
		background: #efefef;
		padding: 10px;
		border-radius: 5px;
		margin: 15px 0;
		box-shadow: -3px -3px 7px #ffffff,
								 3px 3px 7px #a2a2a2;
}

.d{
		margin: 10px 0;
		position: relative;
}


.d img, .d, .e{
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 5px solid #f1f1f1;
		transform: origin(100px, 100px);
		/*box-shadow: -3px -3px 7px #ffffff,
								 3px 3px 7px #a2a2a2;*/
}

.d img{
		position: absolute;
		top:0;
		left:0;
		z-index:2;
		transform:translate(-5px, -5px);
}

.e{
		width: 202px;
		height: 202px;
		background: linear-gradient(60deg, #6ab6ff, #ff2bf1, #6ab6ff, #3cff2b);
		filter: blur(5px);
		position: absolute;
		top:-5px;
		left:-5px;
		
		animation: rotate 4s infinite linear;
}

@keyframes rotate{
		0% {
				transform:rotate(0deg);
				filter: blur(10px);
		}
		
		25%{
				filter: blur(15px);
		}
		
		50%{
				filter: blur(10px);
		}
		
		75%{
				filter: blur(15px);
		}
		
		100% {
				transform:rotate(360deg);
				filter: blur(10px);
		}
}

.profile{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.profile .quick-link{
		margin: 20px 0;
		background: #f0f0f0;
		padding: 20px;
		width: 250px;
		box-shadow: -3px -3px 7px #ffffff,
								 3px 3px 7px #a2a2a2;
		border-radius: 5px;
}

.quick-link ul{
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-evenly;
}

.quick-link ul a{
		width: 40px;
		height: 40px;
		border-radius: 50px;
		color: #666666;
		box-shadow: -3px -3px 7px #ffffff,
								 3px 3px 7px #a2a2a2;
		display: flex;
		background: #f1f1f1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.neu, .skills{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 15px;
}

.neu-box{
		padding: 10px;
		width: 40%;
		box-shadow: -3px -3px 7px #ffffff,
								 3px 3px 7px #a2a2a2;
		height: 370px;
}

.neu-box .b{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 75px;
}

.bar{
		position: relative;
		height: 310px;
		border-radius: 20px;
		width: 40px;
		box-shadow:inset -3px -3px 7px #ffffff,
								inset 3px 3px 7px #a2a2a2;
}

.bar div:nth-child(2){
		z-index: 1;
}

.html div{
		width: 40px;
		height: 70%;
		border-radius: 20px;
		background: linear-gradient(-60deg, #ff555f, #ff55b3);
		position: absolute;
		bottom: 0;
		right: 0;
}

.css div{
		width: 40px;
		height: 50%;
		border-radius: 20px;
		background: linear-gradient(-60deg, #40b6ff, #95ffe0);
		position: absolute;
		bottom: 0;
		right: 0;
}

.wp div{
		width: 40px;
		height: 80%;
		border-radius: 20px;
		background: linear-gradient(-60deg, #1ec600, #d9ff40);
		position: absolute;
		bottom: 0;
		right: 0;
}

.bar div:nth-child(1){
		filter: blur(5px);
		width: 40px;
}

.c{
		color: #666666;
		margin: 10px;
}

.contact{
		background: radial-gradient(circle at bottom left, #ff555f, #ff4093 70%, transparent 70%);
}

.contact ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
}

.contact ul li{
		width: 100%;
		padding: 10px;
		margin: 10px 0;
		color: #666666;
		background: #f0f0f0;
		position: relative;
		box-shadow: -3px -3px 7px #ffffff,
								 3px 3px 7px #a2a2a2;
}

.contact ul li i{
		display: inline-block;
		margin: 0 10px;
}

.main{
		max-width: 500px;
		padding: 25px 0;
}

.cover{
		z-index: 3;
		padding: 25px 10px;
		width: 100%;
		backdrop-filter: blur(40px);
		box-shadow:-3px -3px 7px #ffffff,
						    3px 3px 7px #a2a2a2;
}

.form h1{
		border-left: 10px solid lightgrey;
		padding-left: 15px;
		color: #666666;
}


.cover p, .cover h5, .cover h1, .cover a button{
		margin: 10px 0;
}

.cover a button{
		border: 0px solid transparent;
		padding: 10px 30px;
		font-size: 1.5em;
		color: white;
		background: linear-gradient(-60deg, #1dbe00, #21db00);
		border-radius: 0 50px 50px 0;
		box-shadow:-3px -3px 7px #ffffff,
						    3px 3px 7px #a2a2a2;
		
}

.cover a button:active{
		box-shadow:inset -3px -3px 7px #ffffff,
						    inset 3px 3px 7px #a2a2a2;
}

.cover h1 span{
		  background: -webkit-linear-gradient( #1ec600, #23e500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cover p{color: #666666;}

h1{font-size: 2em;}

form{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
}

input, textarea{
		background: transparent;
		border: 1px solid transparent;
		margin: 20px 0;
		height: 50px;
		padding: 10px;
		box-shadow:inset -3px -3px 7px #ffffff,
								inset 3px 3px 7px #a2a2a2;
}

input, form button{
		width: 20%;
}

form button{
		background: transparent;
		background: linear-gradient(-60deg, #40b6ff, #95ffe0);
		border: 0px solid transparent;
		margin: 20px 0;
		height: 50px;
		padding: 10px;
		box-shadow:-3px -3px 7px #ffffff,
						    3px 3px 7px #a2a2a2;
}

textarea{
		width: 40%;
}

input:focus, textarea:focus{
		background: #dddddd;
		outline: none;
		border: #efefef;
}

@media(max-width: 768px){
	.neu, form{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}
	.neu-box{
		margin: 20px 0;
		width: 270px;
	}
	
	input, textarea, form button{
		width: 100%;
	}
	textarea{
		height: 150px;
	}
	
	.neu-box{
			height: 400px;
	}
}
